@import "../imports/sass/materialize/components/_color.scss";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Palette
$accent-color: #ffc107 !default;
$background-color: #ededed !default;
$divider-color: #bdbdbd !default;
$primary-color: #3f51b5 !default;
$primary-color-dark: #303f9f !default;
$primary-color-light: #c5cae9 !default;
$primary-color-text: #ffffff !default;
$primary-text-color: #212121 !default;
$secondary-color: $accent-color !default;
$secondary-text-color: #757575 !default;
$tertiary-color: #009688 !default;
$tertiary-color-text: white !default;

// Numbers
$darken-percentage: 8% !default;

// Card colors
$card-bg-color: white !default;
$card-link-color: $primary-text-color !default;

// Collection colors
$collection-bg-color: $card-bg-color !default;
$collection-border-color: $divider-color !default;
$collection-hover-bg-color: darken($collection-bg-color, $darken-percentage) !default;
$collection-link-color: $card-link-color !default;

// Footer colors
$footer-copyright-bg-color: $primary-color-dark !default;

// Form colors
$radio-empty-color: $tertiary-color-text !default;

// Update Materialize
@import "../imports/sass/materialize/materialize.scss";

// Body
body {
  background: $background-color;
  color: $primary-text-color;
}

// Cards
.card {
  // Card action
  .card-action {
    border-top: 1px solid $divider-color
  }

  // Card header
  .card-header {
    @extend .card-content;

    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height: 105px;
    overflow: visible !important;
    position: relative !important;
  }

  // Collection
  .collection {
    border: none;
    margin-top: 0;
    overflow-y: auto;

    .avatar {
      min-height: 0 !important;

      i.circle {
        background: $primary-color !important;
        font-size: 24px;
      }
    }

    .collection-item {
      border-bottom: 1px solid $collection-border-color;
    }
  }

  // Claim card
  &.claim-card .card-header {
    background: $tertiary-color;
    text-align: center;

    i {
      color: $tertiary-color-text;
      font-size: 50px;
    }
  }

  // Card headers with darkened primary colors
  &.claim-detail-card .card-header,
  &.claim-list-card .card-header,
  &.policy-card .card-header {
    background: darken($primary-color, $darken-percentage);
    color: $primary-color-text;
  }

  // Card title
  .card-title {
    margin-bottom: 4px !important;
  }

  // Claim detail card
  &.claim-detail-card {
    background: $primary-color;
    color: $primary-color-text;

    .avatar {
      padding-left: 57px;
      position: relative;

      i {
        background: white;
        color: $primary-color;
        height: 42px;
        width: 42px;
        line-height: 42px;
        font-style: 24px;
        position: absolute;
        left: 0;
        text-align: center;
      }
    }

    .card-header {
      height: auto;
    }

    .claim-description {
      margin-top: 12px;
    }
  }

  // Claim list card
  &.claim-list-card .collection {
    height: 295px;
  }

  // Claim vote card
  &.claim-vote-card {
    background: $tertiary-color;
    color: $tertiary-color-text;

    .divider {
      background: darken($tertiary-color, $darken-percentage);
      margin: 12px 0;
    }

    label {
      color: rgba(255, 255, 255, 0.87); // Similar to tertiary-color-text
    }
  }

  // Discussion card
  &.discussion-card {
    .card-header {
      height: auto;
      padding: 48px 16px 0 72px;

      textarea {
        display: block;
        padding: 0px;
      }
    }

    .collection {
      .collection-item {
        background: darken($collection-bg-color, $darken-percentage / 2);
        padding: 16px 16px 16px 72px;
      }

      .discussion-post-content {
        padding-right: 36px;
      }

      .text-secondary {
        font-size: 14px;
      }
    }
  }

  // Policy card
  &.policy-card {
    background: $primary-color;
    color: $primary-color-text;

    .btn-flat {
      color: $primary-color-text;
    }

    i {
      cursor: pointer;
    }

    .edit-policy {
      padding: 36px;
    }

    .no-policy {
      padding: 48px;
    }

    .policy-card-stats {
      padding-top: 8px;

      h1 {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }

  // Stat card
  &.stat-card {
    text-align: center;

    .card-header {
      padding: 0;
    }

    .stat-content {
      text-align: center;
      width: 100%;
    }

    h1 {
      font-size: 60px;
      font-weight: bold;
      height: 66px;
      margin: 0;

      i {
        font-size: 60px;
      }
    }
  }
}

// Footer
.flexbox-wrapper {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

main {
  flex: 1 !important;
}

.page-footer a {
  color: $primary-color-text !important;
}

// Headers
h1, h4 {
  opacity: 0.87;
}

// iframes
iframe {
  border: 0;
}

// Login
#login-buttons {
  a:hover {
    background-color: transparent !important;
  }

  input {
    border-bottom: 1px solid #aaa !important;
    box-shadow: none !important;
  }
}

// Nav
.nav-wrapper .brand-logo img {
  height: 64px;
  margin-top: -6px;
}

#nav-mobile {
  transform: translateX(-100%);
}

// Text
.text-secondary {
  opacity: 0.54;
}

ul.notifications {
  position: fixed;
}