@import "../imports/sass/materialize/components/_color.scss";

$primary-color: color("blue", "darken-4") !default;
$secondary-color: color("blue", "accent-4") !default;

$footer-copyright-bg-color: darken($primary-color, 8%);

$card-bg-color: color("grey", "darken-2") !default;

$collection-border-color: color("grey", "base") !default;
$collection-bg-color: color("grey", "darken-2") !default;
$collection-hover-bg-color: color("grey", "darken-1") !default;
$collection-link-color: white !default;

@import "../imports/sass/materialize/materialize.scss";

body {
  background: color("grey", "darken-3");
  color: white;
}

.collection {
  border: none;
}

#login-buttons a:hover {
  background-color: transparent !important;
}

#login-buttons input {
  border-bottom: 1px solid #aaa !important;
  box-shadow: none !important;
}

.modal {
  color: black;
}

select {
  color: black;
}

strong {
  font-weight: bold;
}

.flexbox-wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 !important;
}
