@import "../imports/sass/materialize/components/_color.scss";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Umbrella Coin Palette */
$palette-orange: #ff6700;
$palette-white: #ebebeb;
$palette-gray: #c0c0c0;
$palette-light-blue: #3a6ea5;
$palette-dark-blue: #004e98;

/* Materialize Main Colors */
$primary-color: $palette-dark-blue !default;
$secondary-color: $palette-orange !default;
$footer-copyright-bg-color: darken($primary-color, 8%);
$card-bg-color: white !default;

/* Materialize Collection Colors */
$collection-border-color: $palette-gray !default;
$collection-bg-color: white !default;
$collection-hover-bg-color: $palette-white !default;
$collection-link-color: black !default;

@import "../imports/sass/materialize/materialize.scss";

.policy-card .card-header, .claims-card .card-header {
  background: color('green', 'darken-1');
  height: 105px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  color: white;
}

.policy-card .policy-card-stats {
  background: color('green', 'base');
}

.policy-card-stats {
  padding-top: 12px !important;
}

.claim-card .card-header {
  background: $palette-light-blue;
}

body {
  background: $palette-white;
  color: rgba(0, 0, 0, 0.8);
}


#login-buttons a:hover {
  background-color: transparent !important;
}

#login-buttons input {
  border-bottom: 1px solid #aaa !important;
  box-shadow: none !important;
}

.modal {
  color: black;
}

select {
  color: black;
}

strong {
  font-weight: bold;
}

.flexbox-wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 !important;
}

.card img {
  width: 100%;
}

.nav-wrapper .brand-logo img {
  margin-top: -6px;
  height: 64px;
}

i.add-policy {
  font-size: 100px;
}

.add-policy-action a {
  margin-right: 0 !important;
}

.card .collection {
  border: none;
  border-bottom: 1px solid $collection-border-color;
}

.claims-card .card-content {
  position: relative;
  overflow: visible !important;
}

.avatar {
  min-height: 0 !important;
}

.card h1 {
  margin-bottom: 0;
  opacity: 0.54;
  font-weight:bold;
}

.policy-card .card-title {
  margin-bottom: 3px !important;
}

.claim-card i {
  color: white;
  font-size: 50px;
}

.text-secondary {
  opacity: 0.54;
}

/*
.float-card h1, .float-card h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.card .collection {
  border-left: none;
  border-right: none;
  border-top: none;
}

.card .collection-item {
  padding-left: 0;
}
*/

/*
.policy-card .card-content {
  border-right: 1px solid $collection-border-color;
  border-bottom-right-radius: 0;
}

.policy-card .collection {
  margin: 0;
  margin-left: -24px;
  border-right: none;
  border-top: none;

}

.policy-card .collection .card-title {
  padding: 24px;
  padding-left: 20px;
  border-bottom: 1px solid $collection-border-color;
  vertical-align: middle;
}
*/